@charset "utf-8";
@import "mixin";

// click animation variables
.list {
    --width: 0%;
}

// archive_box
.archive_box {
    position: relative;
    width: 64.0625vw; // calc(100% - 686px)
    height: 100%;
    .category {
        @include flex_align_center;
        z-index: 2;
        position: absolute;
        top: max(0.9375vmax, 10px); // 18px
        right: max(2.08vmax, 21px); // 68px
        .radio {
            margin-right: max(4.6875vmax, 48px); // 90px
            &:last-of-type {
                margin-right: 0;
            }
            input[type="radio"] {
                display: none !important;
                & + label {
                    display: block;
                    width: 100%;
                    padding-left: max(2.3437vw, 24px); // 45px
                    white-space: nowrap;
                    font-weight: 700;
                    font-size: max(2.031vw, 21px); // 39px
                    color: var(--color);
                    background: var(--radio-off-ico) no-repeat center left;
                    background-size: max(1.5625vw, 16px); // 30px
                }
                &:checked + label {
                    background: var(--radio-on-ico) no-repeat center left;
                    background-size: max(1.5625vw, 16px); // 30px
                }
            }
        }
    }
    .scroll_box {
        .archive_list {
            width: 100%;
            .disposable {
                width: 100%;
                height: 8.7vw;
            }
            .list {
                overflow: hidden;
                position: relative;
                width: 100%;
                &:last-child button {
                    border-bottom: none;
                }
                button {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 8.7vw;
                    padding: 0 max(1.302vw, 13px); // 3.05vh 25px
                    white-space: nowrap;
                    text-align: left;
                    font-size: max(4.895vw, 50px); // 94px
                    font-weight: normal;
                    text-shadow: -0.5px 0 var(--color), 0 0.5px var(--color), 0.5px 0 var(--color), 0 -0.5px var(--color);
                    color: var(--color);
                    background: var(--background);
                    border-bottom: 2px solid var(--color);
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: var(--width);
                        height: 100%;
                        background: var(--color);
                    }
                    &::after {
                        content: attr(data-content);
                        overflow: hidden;
                        position: absolute;
                        left: max(1.302vw, 13px); // 25px
                        width: var(--width);
                        white-space: nowrap;
                        text-shadow: -0.5px 0 var(--background), 0 0.5px var(--background), 0.5px 0 var(--background), 0 -0.5px var(--background);
                        color: var(--background);
                    }
                }
            }
            .detail {
                overflow: hidden;
                width: 100%;
                height: 0px;
                transition: height 0.2s ease-in-out;
                &.open {
                    border-bottom: 2px solid var(--color);
                }
                .swiper {
                    width: 100%;
                    height: auto;
                    border-bottom: 2px solid var(--color);
                    img {
                        user-select: none;
                        display: block;
                        width: 100%;
                    }
                    .swiper-wrapper {
                        .swiper-slide {
                            transform: translate3d(0, 0, 0);
                        }
                    }
                    .swiper-button-next,
                    .swiper-button-prev {
                        z-index: 1;
                        width: 30px;
                        height: 30px;
                        margin-top: 0;
                        cursor: none;
                        &::after {
                            width: 100%;
                            height: 100%;
                            text-indent: -9999999px;
                            font-family: initial;
                            font-size: 0px;
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                        &.swiper-button-next {
                            right: 30px;
                            &::after {
                                background-image: url("../../images/btn/slide_next.png");
                            }
                        }
                        &.swiper-button-prev {
                            left: 30px;
                            &::after {
                                background-image: url("../../images/btn/slide_prev.png");
                            }
                        }
                    }
                    .swiper-pagination {
                        bottom: 24px;
                        .swiper-pagination-bullet {
                            background: $white;
                            opacity: 0.6;
                            &.swiper-pagination-bullet-active {
                                opacity: 1;
                            }
                        }
                    }
                }
                .info_box {
                    display: flex;
                    & > div {
                        flex-shrink: 0;
                        width: 50%;
                        padding: max(1.5625vw, 16px); // 30px
                        p,
                        a {
                            font-weight: 500;
                        }
                        img {
                            display: block;
                        }
                    }
                    .left {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: space-between;
                        .project_name {
                            width: 100%;
                            font-size: max(2.6562vw, 27px); // 51px
                            color: var(--color);
                            .year {
                                display: block;
                            }
                        }
                        .link {
                            @include text_underline(var(--color));
                            font-size: max(1.25vw, 13px); // 24px
                            color: var(--color);
                        }
                    }
                    .right {
                        border-left: 2px solid var(--color);
                        p {
                            line-height: 1.3;
                            font-size: max(1.25vw, 13px); // 24px
                            color: var(--color);
                        }
                    }
                }
            }
        }
    }
}

/* media query */
@media (max-width: 1023px) {
    // archive_box
    .archive_box {
        width: 100%;
        .category {
            justify-content: space-between;
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            height: min(7.1vmax, 60px);
            padding: 0 4.615%;
            border-bottom: 2px solid var(--color);
            .radio {
                margin-right: 0;
                input[type="radio"] {
                    & + label {
                        padding-left: min(6.92vmin, 35px);
                        font-size: min(6.15vmin, 30px);
                        background-size: min(4.87vmin, 24px);
                    }
                    &:checked + label {
                        background-size: min(4.87vmin, 24px);
                    }
                }
            }
        }
        .scroll_box {
            // 스크롤 박스 버그
            // 마지막 리스트가 잘려서 노출되지 않고 끝까지 스크롤이 되면 상단 카테고리도 따라 올라감.
            // archive.js에서 모바일에선 smooth-scroll-bar 라이브러리의 scoll만 비활성화 시키고 scrollTo만 쓰는 방향으로 고쳐봐야 할 듯
            height: 100%;
            margin-bottom: 14.872vmin;
            .archive_list {
                .disposable {
                    height: 17.95vmin;
                }
                .list {
                    button {
                        height: 17.95vmin;
                        padding: 0 4.615%;
                        font-size: min(9.23vmin, 60px);
                        border-bottom: 1px solid var(--color);
                        &::after {
                            left: 4.615%;
                        }
                    }
                } // 까지 작업
                .detail {
                    .swiper {
                        border-bottom: 1px solid var(--color);
                        .swiper-button-next,
                        .swiper-button-prev {
                            width: min(4.2vmin, 30px);
                            height: min(4.2vmin, 30px);
                            &.swiper-button-next {
                                right: 4.615%;
                            }
                            &.swiper-button-prev {
                                left: 4.615%;
                            }
                        }
                        .swiper-pagination {
                            bottom: 6%;
                            span {
                                width: min(1.5vmin, 8px);
                                height: min(1.5vmin, 8px);
                            }
                        }
                    }
                    .info_box {
                        display: block;
                        & > div {
                            width: 100%;
                            padding: 5.615% 4.615%;
                        }
                        .left {
                            border-bottom: 2px solid var(--color);
                            .project_name {
                                font-size: min(7.7vmin, 51px); // 51px
                            }
                            .link {
                                margin-top: 5vmin;
                                font-size: min(4.1vmin, 30px); // 24px
                            }
                        }
                        .right {
                            border-left: none;
                            p {
                                font-size: min(4.1vmin, 30px); // 24px
                            }
                        }
                    }
                }
            }
        }
    }
}
