@charset "utf-8";
@import "mixin";

// contact
.contact {
    overflow-y: scroll;
    width: 31.25vw; // 600px
    height: 100%;
    .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 23%;
        padding: 0 11.33% 0 7.5%; // 40px 68px 20px 45px
        border-bottom: 2px solid var(--color);
        & > p {
            padding-top: 3.33%; // none
            margin-bottom: 20px;
            font-size: max(2.396vw, 24px); //46px
            color: var(--color);
        }
        .info div {
            display: flex;
            align-items: center;
            .icon {
                display: flex;
                justify-content: center;
                width: 1vw;
                margin-right: 0.4vw;
                svg {
                    fill: var(--color);
                }
            }
            p {
                margin-top: 1px;
                line-height: 1.3;
                font-weight: 700;
                color: var(--color);
            }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 77%;
        padding: 8.33% 11.33% 8.33% 7.5%; // 50px 68px 50px 45px
        & > div {
            flex-shrink: 0;
            width: 100%;
            p {
                margin-bottom: 10px;
                color: var(--color);
            }
            .input_box {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        .contact_info {
            .input_box input {
                width: 47.5%;
                line-height: max(1.5625vw, 16px); // 30px
                margin-bottom: 10px;
                font-weight: 500;
                font-size: max(0.729vw, 10px); // 14px
                color: var(--color);
                border: none;
                border-bottom: 1px solid var(--color);
                background: transparent;
                &::placeholder {
                    color: var(--color);
                }
                &:last-child {
                    width: 100%;
                    margin-bottom: 0;
                }
            }
        }
        .budgiet_info {
            .input_box {
                .select_dropdown {
                    position: relative;
                    width: 47.5%;
                    .dropdown_btn {
                        width: 100%;
                        line-height: max(1.5625vw, 16px); // 30px
                        text-align: left;
                        color: var(--color);
                        border: none;
                        border-bottom: 1px solid var(--color);
                        background: transparent var(--select-ico) no-repeat right 5px center;
                        background-size: 10px;
                    }
                    .dropdown_list {
                        display: none;
                        z-index: 1;
                        overflow: hidden;
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 0;
                        .select_list {
                            width: 100%;
                            line-height: max(1.5625vw, 16px); // 30px
                            padding: 0 5%; // 12px
                            font-size: max(0.729vw, 10px); // 14px
                            background-color: var(--background);
                            border-width: 0 1px 1px;
                            border-style: solid;
                            border-color: var(--color);
                            color: var(--color);
                            transition: color 0.1s linear;
                            &:hover {
                                color: var(--background);
                                background: var(--color);
                            }
                        }
                    }
                }
            }
        }
        .project_info {
            .input_box {
                margin-bottom: 15px;
                p {
                    font-size: max(0.729vw, 10px); // 14px
                    span {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 10px;
                        color: var(--color);
                        opacity: 0.6;
                    }
                }
                .text_box {
                    width: 100%;
                    margin-bottom: 10px;
                    textarea {
                        width: 100%;
                        height: max(5.729vw, 48px); // 110px
                        padding: 5px 0;
                        font-size: max(0.729vw, 10px); // 14px
                        color: var(--color);
                        border: none;
                        border-bottom: 1px solid var(--color);
                        background: transparent;
                    }
                }
                .file_box {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    line-height: max(1.5625vw, 16px); // 30px
                    border-bottom: 1px solid var(--color);
                    p {
                        flex-shrink: 0;
                        margin-bottom: 0;
                    }
                    .file_name {
                        width: 100%;
                        height: 100%;
                        padding: 0 15px;
                        font-size: max(0.729vw, 10px); // 14px
                        color: var(--color);
                        border: none;
                        background: transparent;
                    }
                    label {
                        flex-shrink: 0;
                        font-weight: 500;
                        color: var(--color);
                    }
                    input[type="file"] {
                        position: absolute;
                        width: 0;
                        height: 0;
                        padding: 0;
                        overflow: hidden;
                        border: 0;
                    }
                }
            }
            .chk input[type="checkbox"] {
                display: none !important;
                & + label {
                    padding-left: 18px;
                    line-height: 18px;
                    background: var(--check-off-ico) no-repeat;
                    background-size: 12px;
                    background-position: left center;
                    font-size: 12px;
                    color: var(--color);
                }
                &:checked + label {
                    background: var(--check-on-ico) no-repeat;
                    background-size: 12px;
                    background-position: left center;
                }
            }
        }
        .submit_btn {
            flex-shrink: 0;
            width: 100%;
            height: max(4.1666vw, 39px); // 80px
            font-size: max(2.396vw, 24px); //46px
            color: var(--color);
            border: 2px solid var(--color);
            transition: color, 0.1s linear;
            &:hover {
                border-radius: 100px;
                color: var(--background);
                background: var(--color);
            }
        }
    }
}

/* media query */
@media (max-width: 1023px) {
    // contact
    .contact {
        width: 100%;
        .title {
            height: 24.615vmin;
            padding: 0 4.615%;
            border-bottom: 1px solid var(--color);
            & > p {
                padding-top: 2%;
                margin-bottom: 0;
                font-size: min(8.5vmin, 70px);
            }
            .info {
                display: none;
            }
        }
        form {
            height: calc(100vh - 24.615vmin - 14.872vmin);
            padding: 10% 4.615%;
            & > div p {
                font-size: min(3.57vmin, 27px);
                margin-bottom: 10px;
            }
            .contact_info {
                .input_box input {
                    width: 45%;
                    line-height: min(7.2vmin, 40px);
                    margin-bottom: 3vmin;
                    font-size: min(3.2vmin, 18px);
                }
            }
            .budgiet_info {
                .input_box {
                    .select_dropdown {
                        width: 45%;
                        .dropdown_btn {
                            line-height: min(7.2vmin, 40px);
                            font-size: min(3.2vmin, 18px);
                            background-position: right 0px center;
                            background-size: 11px;
                        }
                        .dropdown_list {
                            .select_list {
                                line-height: min(7.2vmin, 40px);
                                font-size: min(3.2vmin, 18px);
                            }
                        }
                    }
                }
            }
            .project_info {
                .input_box {
                    margin-bottom: 15px;
                    p {
                        font-size: min(3.2vmin, 18px);
                    }
                    .text_box {
                        margin-bottom: 3vmin;
                        textarea {
                            height: min(20vmin, 120px);
                            font-size: min(3.2vmin, 18px);
                        }
                    }
                    .file_box {
                        line-height: min(7.2vmin, 40px);
                        .file_name {
                            font-size: min(3.2vmin, 18px);
                        }
                    }
                }
                .chk input[type="checkbox"] {
                    & + label {
                        padding-left: 21px;
                        line-height: 21px;
                        background-size: 14px;
                        font-size: min(3.2vmin, 18px);
                    }
                    &:checked + label {
                        background-size: 14px;
                    }
                }
            }
            .submit_btn {
                height: min(13.846vmin, 70px);
                font-size: min(7.2vmin, 36px);
                border: 1px solid var(--color);
                border-radius: 100px;
            }
        }
    }
}
