@charset "utf-8";
@import "mixin";

// contact
.contact {
    overflow-y: scroll;
    width: 600px;
    height: 100%;
    .title {
        padding: 40px 68px 20px 45px;
        border-bottom: 2px solid var(--color);
        & > p {
            margin-bottom: 20px;
            font-size: 46px;
            color: var(--color);
        }
        .info p {
            line-height: 1.3;
            font-weight: 700;
            color: var(--color);
        }
    }
    form {
        padding: 0 68px 0 45px;
        & > div {
            width: 100%;
            p {
                margin-bottom: 10px;
                color: var(--color);
            }
            .input_box {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
        .contact_info {
            margin-top: 50px;
            .input_box input {
                width: 47.5%;
                line-height: 30px;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 14px;
                color: var(--color);
                border: none;
                border-bottom: 1px solid var(--color);
                background: transparent;
                &::placeholder {
                    color: var(--color);
                }
                &:first-child {
                    margin-right: 52.5%;
                }
                &:last-child {
                    width: 100%;
                    margin-bottom: 0;
                }
            }
        }
        .budgiet_info {
            margin-top: 70px;
            .input_box select {
                width: 47.5%;
                line-height: 30px;
                color: var(--color);
                border: none;
                border-bottom: 1px solid var(--color);
                background: transparent var(--select-ico) no-repeat right 5px center;
                background-size: 10px;
            }
        }
        .project_info {
            margin-top: 70px;
            .input_box {
                margin-bottom: 15px;
                p {
                    font-size: 14px;
                    span {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 10px;
                        color: var(--color);
                        opacity: 0.6;
                    }
                }
                .text_box {
                    width: 100%;
                    margin-bottom: 10px;
                    textarea {
                        width: 100%;
                        height: 110px;
                        padding: 5px 0;
                        font-size: 14px;
                        color: var(--color);
                        border: none;
                        border-bottom: 1px solid var(--color);
                        background: transparent;
                    }
                }
                .file_box {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    line-height: 30px;
                    border-bottom: 1px solid var(--color);
                    p {
                        margin-bottom: 0;
                    }
                    .file_name {
                        width: calc(100% - 270px);
                        height: 100%;
                        font-size: 14px;
                        color: var(--color);
                        border: none;
                        background: transparent;
                    }
                    label {
                        font-weight: 500;
                        color: var(--color);
                    }
                    input[type="file"] {
                        position: absolute;
                        width: 0;
                        height: 0;
                        padding: 0;
                        overflow: hidden;
                        border: 0;
                    }
                }
            }
            .chk input[type="checkbox"] {
                display: none !important;
                & + label {
                    display: block;
                    padding-left: 18px;
                    line-height: 18px;
                    background: var(--check-off-ico) no-repeat;
                    background-size: 12px;
                    background-position: left center;
                    font-size: 12px;
                    color: var(--color);
                }
                &:checked + label {
                    background: var(--check-on-ico) no-repeat;
                    background-size: 12px;
                    background-position: left center;
                }
            }
        }
        .submit_btn {
            width: 100%;
            height: 80px;
            margin-top: 50px;
            font-size: 46px;
            color: var(--color);
            border: 2px solid var(--color);
            transition: color 0.1s ease;
            &:hover{
                color: var(--background);
                border: 2px solid var(--background);
                background: var(--color);
            }
        }
    }
}