@charset "utf-8";

/**/
:root[color-theme="white"] {
    --background: #fff;
    --color: #0035dd;
	--select-ico: url("../../img/select_box.png");
	--check-off-ico: url("../../img/chk_off.png");
	--check-on-ico: url("../../img/chk_on.png");
	--radio-off-ico: url("../../img/radio_off.png");
	--radio-on-ico: url("../../img/radio_on.png");
}
:root[color-theme="blue"] {
    --background: #0035dd;
    --color: #fff;
	--selectIco: url("../../img/select_box_w.png");
	--check-off-ico: url("../../img/chk_off_w.png");
	--check-on-ico: url("../../img/chk_on_w.png");
	--radio-off-ico: url("../../img/radio_off_w.png");
	--radio-on-ico: url("../../img/radio_on_w.png");
}
$white: #fff;
$black: #000;
$blue: #0035dd;

/* extend */

/*common*/
@mixin ellipsis($w) {//한줄 ...처리
	width:$w;
	overflow:hidden;
	display:block;
	text-overflow:ellipsis;
	white-space:nowrap;
}
@mixin ellipsis2($line, $w, $h) {//여러줄 ...처리
	overflow: hidden;
	display:-webkit-box;
	-webkit-line-clamp:$line;
	width:$w;
	height:$h;
	-webkit-box-orient:vertical;
	text-overflow:ellipsis;
	white-space: normal;
	word-wrap:break-word;
}
@mixin box_center($x, $y, $w, $h) {//position:absolute로 센터 정렬하기(가로만, 세로만 설정가능)
	position: absolute;
	left:$x;
	top:$y;
	width:$w;
	height:$h;
	@if $x == 50% and $y == 50%{
		transform: translate(-50%, -50%);
	}@else if $y == 50%{
		transform: translateY(-50%);
	}@else if $x == 50%{
		transform: translateX(-50%);
	}
}
@mixin border($color) {
	border:1px solid $color;
}
@mixin bs_bb {
	box-sizing:border-box;
}
@mixin font_smooth {
	transform:rotate(-0.03deg);
}
@mixin flex_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flex_align_center {
	display: flex;
	align-items: center;
}
@mixin letter_spacing($px) {
	letter-spacing: $px;
}
@mixin text_underline($color) {
	&::after{
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		margin-top: 1.5px;
		background: $color;
	}
}