@charset "utf-8";
@import "common";
@import "mixin";
@import "work";
@import "contact";

body {
    transition: background 0.1s linear;
    background-color: var(--background);
}
#contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    .contact, .marquee, .work_box{flex-shrink: 0;}
}

// cursor custom style
.cursor {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    pointer-events: none;
    border: 2px solid var(--color);
    border-radius: 50%;
    span {
        display: block;
        width: 19px;
        height: 19px;
        pointer-events: none;
        background: var(--color);
        border-radius: 50%;
    }
}
.cursor.reverse {
    border: 2px solid var(--background);
    span {background: var(--background);}
}

// marquee
.marquee {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90px;
    height: 100%;
    color: var(--color);
    border-left: 2px solid var(--color);
    border-right: 2px solid var(--color);
    p {
        transform: rotate(270deg);
        white-space: nowrap;
        font-size: 43px;
    }
}

// reverse color
.reverse_color {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: auto;
    height: auto;
    display: block;
    border: none;
    background: initial;
    transition: transform 0.15s;
    &:hover{transform:scale(1.15);}
    .circleLogo {
        display: block;
        fill: var(--color);
    }
}

// video tooltip
.tooltip_box{
    z-index: 1;
    opacity: 0;
    position: fixed;
    display: none;
    pointer-events: none;
    user-select: none;
    background: $black;
}