@charset "utf-8";
@import "common";
@import "mixin";
@import "archive";
@import "contact";

body {
    transition: background 0.1s linear;
    background-color: var(--background);
}
#contents {
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    .contact,
    .marquee,
    .archive_box {
        flex-shrink: 0;
    }
}

// cursor custom style
.cursor_box {
    .cursor {
        @include flex_center;
        z-index: 999;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        &.default {
            top: 11px;
            left: 7px;
            svg.default {
                display: block;
                width: 16px;
            }
        }
        &.pointer {
            top: 8px;
            left: 4px;
            svg.pointer {
                display: block;
                width: 20px;
            }
        }
        &.text {
            top: 1px;
            left: 2px;
            svg.text {
                display: block;
                height: 26px;
            }
        }
        svg {
            position: absolute;
            display: none;
            .inner {
                fill: var(--color);
            }
            .outline {
                fill: var(--background);
            }
        }
    }
    .cursor_dot {
        @include flex_center;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        opacity: 0;
        pointer-events: none;
        background: var(--color);
        border-radius: 50%;
        .hover {
            position: absolute;
            display: block;
            width: max(3.125vw, 45px); // auto
            transform: scale(0);
            fill: var(--color);
        }
    }
    .tooltip_box {
        z-index: 1;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        pointer-events: none;
        user-select: none;
        background: $black;
        iframe {
            width: max(29.166vw, 420px);
            height: max(16.40625vw, 236px);
        }
    }
}

// marquee
.marquee {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 4.6875vw; // 90px
    height: 100%;
    color: var(--color);
    border-left: 2px solid var(--color);
    border-right: 2px solid var(--color);
    user-select: none;
    p {
        transform: rotate(270deg);
        white-space: nowrap;
        font-size: max(2.24vw, 23px); // 43px
    }
}

// reverse color
.reverse_color {
    @include flex_center;
    z-index: 10;
    position: fixed;
    right: max(2.08vmax, 21px); // 40px
    bottom: max(2.08vmax, 21px); // 40px
    width: 8.64vmax;
    height: 8.64vmax;
    background: var(--background);
    border-radius: 50%;
    box-shadow: var(--shadowBox);
    svg {
        position: absolute;
        fill: var(--color);
        &.symbol {
            width: 36%;
        }
        &.circleText {
            display: block;
            width: 7.9vmax;
            height: 7.9vmax;
        }
    }
}

// menu box
.menu_box {
    display: none;
}

/* media query 1024 이하 */
@media (max-width: 1023px) {
    #contents {
        height: calc(100vh - 14.872vmin);
    }

    // cursor custom style
    .cursor_box {
        display: none;
        .cursor {
            display: none;
        }
        .cursor_dot {
            display: none;
        }
        .tooltip_box {
            display: none;
        }
    }

    // marquee
    .marquee {
        display: none;
    }

    // reverse color
    .reverse_color {
        right: auto;
        left: 50%;
        bottom: 14.872vmin;
        transform: translate(-50%, 50%);
        width: 9.5vmax;
        height: 9.5vmax;
        svg {
            &.symbol {
                width: 40%;
            }
            &.circleText {
                width: 8.76vmax;
                height: 8.76vmax;
            }
        }
    }

    // menu box
    .menu_box {
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        width: 100%;
        height: 14.872vmin;
        div {
            width: 50%;
            height: 100%;
            border-top: 1px solid var(--color);
            button {
                width: 100%;
                height: 100%;
                font-size: min(4.5vmin, 40px);
                color: var(--color);
                background: var(--background);
                &.on {
                    color: var(--background);
                    background: var(--color);
                }
            }
        }
    }
}
