@charset "utf-8";
@import "mixin";

.work_list{
    overflow-y: scroll;
    width: calc(100% - 654px);
    height: 100%;
    .list {
        @include flex_align_center;
        position: relative;
        width: 100%;
        height: 160px;
        padding: 0 25px;
        border-bottom: 2px solid var(--color);
        transition: color 0.1s ease;
        &:last-child{border-bottom: none;}
        a{
            white-space: nowrap;
            font-size: 94px;
            color: var(--color);
        }
        .video_tooltip {
            z-index: 1;
            position: fixed;
            display: none;
            width: 600px;
            pointer-events: none;
            user-select: none;
        }
        &:hover {
            background: var(--color);
            a{color: var(--background)}
            .video_tooltip{display: block;}
        }
    }
}