@charset "utf-8";
@import "mixin";

// click animation variables
.list {--width: 0%;}

// work_box
.work_box {
    position: relative;
    width: calc(100% - 686px);
    height: 100%;
    .category {
        @include flex_align_center;
        z-index: 2;
        position: absolute;
        top: 18px;
        right: 68px;
        .radio {
            margin-right: 90px;
            &:last-of-type {
                margin-right: 0;
            }
            input[type="radio"] {
                display: none !important;
                & + label {
                    display: block;
                    width: 100%;
                    padding-bottom: 7px;
                    padding-left: 45px;
                    white-space: nowrap;
                    font-weight: 700;
                    font-size: 39px;
                    color: var(--color);
                    background: var(--radio-off-ico) no-repeat center left;
                    background-size: 30px;
                }
                &:checked + label {
                    background: var(--radio-on-ico) no-repeat center left;
                    background-size: 30px;
                }
            }
        }
    }
    .work_list {
        // overflow-x: hidden;
        // overflow-y: scroll;
        width: 100%;
        height: 100%;
        .list {
            overflow: hidden;
            position: relative;
            width: 100%;
            button {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding: 3.05vh 25px;
                white-space: nowrap;
                text-align: left;
                font-size: 94px;
                font-weight: normal;
                text-shadow: -0.5px 0 var(--color), 0 0.5px var(--color), 0.5px 0 var(--color), 0 -0.5px var(--color);
                color: var(--color);
                border-bottom: 2px solid var(--color);
                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: var(--width);
                    height: 100%;
                    background: var(--color);
                }
                &::after{
                    content: attr(data-content);
                    overflow: hidden;
                    position: absolute;
                    left: 25px;
                    width: var(--width);
                    white-space: nowrap;
                    text-shadow: -0.5px 0 var(--background), 0 0.5px var(--background), 0.5px 0 var(--background), 0 -0.5px var(--background);
                    color: var(--background);
                }
            }
        }
        .detail {
            overflow: hidden;
            width: 100%;
            height: 0px;
            transition: height 0.2s ease-in-out;
            border-bottom: 0px solid var(--color);
            .carousel {
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                }
            }
            .info_text {
                padding: 30px;
                p {
                    line-height: 1.3;
                    font-weight: 500;
                    font-size: 39px;
                    color: var(--color);
                }
            }
        }
    }
}
