/**/
:root[color-theme="white"] { --background: #fff; --color: #0035dd; --select-ico: url("../../images/btn/select_box.png"); --check-off-ico: url("../../images/btn/chk_off.png"); --check-on-ico: url("../../images/btn/chk_on.png"); --radio-off-ico: url("../../images/btn/radio_off.png"); --radio-on-ico: url("../../images/btn/radio_on.png"); }

:root[color-theme="blue"] { --background: #0035dd; --color: #fff; --selectIco: url("../../images/btn/select_box_w.png"); --check-off-ico: url("../../images/btn/chk_off_w.png"); --check-on-ico: url("../../images/btn/chk_on_w.png"); --radio-off-ico: url("../../images/btn/radio_off_w.png"); --radio-on-ico: url("../../images/btn/radio_on_w.png"); }

/* extend */
/*common*/
.contact { overflow-y: scroll; width: 600px; height: 100%; }

.contact .title { padding: 40px 68px 20px 45px; border-bottom: 2px solid var(--color); }

.contact .title > p { margin-bottom: 20px; font-size: 46px; color: var(--color); }

.contact .title .info p { line-height: 1.3; font-weight: 700; color: var(--color); }

.contact form { padding: 0 68px 0 45px; }

.contact form > div { width: 100%; }

.contact form > div p { margin-bottom: 10px; color: var(--color); }

.contact form > div .input_box { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.contact form .contact_info { margin-top: 50px; }

.contact form .contact_info .input_box input { width: 47.5%; line-height: 30px; margin-bottom: 10px; font-weight: 500; font-size: 14px; color: var(--color); border: none; border-bottom: 1px solid var(--color); background: transparent; }

.contact form .contact_info .input_box input::-webkit-input-placeholder { color: var(--color); }

.contact form .contact_info .input_box input:-ms-input-placeholder { color: var(--color); }

.contact form .contact_info .input_box input::-ms-input-placeholder { color: var(--color); }

.contact form .contact_info .input_box input::placeholder { color: var(--color); }

.contact form .contact_info .input_box input:first-child { margin-right: 52.5%; }

.contact form .contact_info .input_box input:last-child { width: 100%; margin-bottom: 0; }

.contact form .budgiet_info { margin-top: 70px; }

.contact form .budgiet_info .input_box select { width: 47.5%; line-height: 30px; color: var(--color); border: none; border-bottom: 1px solid var(--color); background: transparent var(--select-ico) no-repeat right 5px center; background-size: 10px; }

.contact form .project_info { margin-top: 70px; }

.contact form .project_info .input_box { margin-bottom: 15px; }

.contact form .project_info .input_box p { font-size: 14px; }

.contact form .project_info .input_box p span { display: inline-block; margin-left: 10px; font-size: 10px; color: var(--color); opacity: 0.6; }

.contact form .project_info .input_box .text_box { width: 100%; margin-bottom: 10px; }

.contact form .project_info .input_box .text_box textarea { width: 100%; height: 110px; padding: 5px 0; font-size: 14px; color: var(--color); border: none; border-bottom: 1px solid var(--color); background: transparent; }

.contact form .project_info .input_box .file_box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; line-height: 30px; border-bottom: 1px solid var(--color); }

.contact form .project_info .input_box .file_box p { margin-bottom: 0; }

.contact form .project_info .input_box .file_box .file_name { width: calc(100% - 270px); height: 100%; font-size: 14px; color: var(--color); border: none; background: transparent; }

.contact form .project_info .input_box .file_box label { font-weight: 500; color: var(--color); }

.contact form .project_info .input_box .file_box input[type="file"] { position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0; }

.contact form .project_info .chk input[type="checkbox"] { display: none !important; }

.contact form .project_info .chk input[type="checkbox"] + label { display: block; padding-left: 18px; line-height: 18px; background: var(--check-off-ico) no-repeat; background-size: 12px; background-position: left center; font-size: 12px; color: var(--color); }

.contact form .project_info .chk input[type="checkbox"]:checked + label { background: var(--check-on-ico) no-repeat; background-size: 12px; background-position: left center; }

.contact form .submit_btn { width: 100%; height: 80px; margin: 50px 0; font-size: 46px; color: var(--color); border: 2px solid var(--color); -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }

.contact form .submit_btn:hover { color: var(--background); border: 2px solid var(--background); background: var(--color); }
