@charset "UTF-8";
/* font */
@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 400; src: url("../../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../../fonts/NotoSansKR-Regular.woff") format("woff"), url("../../fonts/NotoSansKR-Regular.ttf") format("truetype"); unicode-range: U+AC00-D7A3; }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 500; src: url("../../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../../fonts/NotoSansKR-Medium.woff") format("woff"), url("../../fonts/NotoSansKR-Medium.ttf") format("truetype"); unicode-range: U+AC00-D7A3; }

@font-face { font-family: "Noto Sans KR"; font-style: normal; font-weight: 700; src: url("../../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../../fonts/NotoSansKR-Bold.woff") format("woff"), url("../../fonts/NotoSansKR-Bold.ttf") format("truetype"); unicode-range: U+AC00-D7A3; }

@font-face { font-family: "Montserrat"; font-style: normal; font-weight: 400; src: url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"); unicode-range: U+0041-005A, U+0061-007A, U+0030-0039; }

@font-face { font-family: "Montserrat"; font-style: normal; font-weight: 500; src: url("../../fonts/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/Montserrat-Medium.woff") format("woff"), url("../../fonts/Montserrat-Medium.ttf") format("truetype"); unicode-range: U+0041-005A, U+0061-007A, U+0030-0039; }

@font-face { font-family: "Montserrat"; font-style: normal; font-weight: 700; src: url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"); unicode-range: U+0041-005A, U+0061-007A, U+0030-0039; }

@font-face { font-family: "Nefarious"; font-style: normal; font-weight: 400; src: url("../../fonts/Nefarious.otf") format("opentype"), url("../../fonts/Nefarious.woff2") format("woff2"), url("../../fonts/Nefarious.woff") format("woff"), url("../../fonts/Nefarious.ttf") format("truetype"); unicode-range: U+0061-007A, U+0030-0039; }

.Nefarious { font-family: 'Nefarious', serif; text-shadow: -0.1px 0 var(--color), 0 0.1px var(--color), 0.1px 0 var(--color), 0 -0.1px var(--color); font-weight: bold; }

/* common */
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: none; }

html, body, th, td, input, select, textarea, button { font-family: "Noto Sans KR", "Montserrat", sans-serif; font-weight: 400; font-size: 16px; color: #000; line-height: 1; letter-spacing: -0.5px; }

fieldset, img { border: 0; }

dl, ul, ol, menu, li { list-style: none; }

input, select, textarea, button { vertical-align: middle; outline: none; }

button { border: none; background: none; outline: none; }

a { color: #000; text-decoration: none; }

address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }

input[type="button"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

select::-ms-expand { display: none; }

::-webkit-scrollbar { display: none; }

textarea { resize: none; }

body { position: relative; }

table { padding: 0; border: 0; border-spacing: 0px; border-collapse: collapse; }

/*ios에서 인풋들 모서리 라운딩과 상단 그림자 제거*/
input, textarea, select { border-radius: 0; -webkit-appearance: none; }

* { -webkit-tap-highlight-color: transparent; }

/* ios font-size 16px 미만일때 포커스시 줌되는 현상 수정 */
/* 텍스트 선택, 드래그, 더블클릭 막기 :not()은 예외처리 */
.user_select_text { -webkit-user-select: text !important; -moz-user-select: text !important; -ms-user-select: text !important; user-select: text !important; }

/* global */
.show { display: block !important; }

.hide { display: none !important; }

.scrollX { overflow: hidden !important; -ms-touch-action: none; touch-action: none; }

/**/
:root[color-theme="white"] { --background: #fff; --color: #0035dd; --select-ico: url("../../images/btn/select_box.png"); --check-off-ico: url("../../images/btn/chk_off.png"); --check-on-ico: url("../../images/btn/chk_on.png"); --radio-off-ico: url("../../images/btn/radio_off.png"); --radio-on-ico: url("../../images/btn/radio_on.png"); }

:root[color-theme="blue"] { --background: #0035dd; --color: #fff; --select-ico: url("../../images/btn/select_box_w.png"); --check-off-ico: url("../../images/btn/chk_off_w.png"); --check-on-ico: url("../../images/btn/chk_on_w.png"); --radio-off-ico: url("../../images/btn/radio_off_w.png"); --radio-on-ico: url("../../images/btn/radio_on_w.png"); }

/* extend */
/*common*/
/**/
:root[color-theme="white"] { --background: #fff; --color: #0035dd; --select-ico: url("../../images/btn/select_box.png"); --check-off-ico: url("../../images/btn/chk_off.png"); --check-on-ico: url("../../images/btn/chk_on.png"); --radio-off-ico: url("../../images/btn/radio_off.png"); --radio-on-ico: url("../../images/btn/radio_on.png"); }

:root[color-theme="blue"] { --background: #0035dd; --color: #fff; --select-ico: url("../../images/btn/select_box_w.png"); --check-off-ico: url("../../images/btn/chk_off_w.png"); --check-on-ico: url("../../images/btn/chk_on_w.png"); --radio-off-ico: url("../../images/btn/radio_off_w.png"); --radio-on-ico: url("../../images/btn/radio_on_w.png"); }

/* extend */
/*common*/
.list { --width: 0%; }

.work_box { position: relative; width: calc(100% - 686px); height: 100%; }

.work_box .category { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; z-index: 2; position: absolute; top: 18px; right: 68px; }

.work_box .category .radio { margin-right: 90px; }

.work_box .category .radio:last-of-type { margin-right: 0; }

.work_box .category .radio input[type="radio"] { display: none !important; }

.work_box .category .radio input[type="radio"] + label { display: block; width: 100%; padding-bottom: 7px; padding-left: 45px; white-space: nowrap; font-weight: 700; font-size: 39px; color: var(--color); background: var(--radio-off-ico) no-repeat center left; background-size: 30px; }

.work_box .category .radio input[type="radio"]:checked + label { background: var(--radio-on-ico) no-repeat center left; background-size: 30px; }

.work_box .work_list { width: 100%; height: 100%; }

.work_box .work_list .list { overflow: hidden; position: relative; width: 100%; }

.work_box .work_list .list button { position: relative; overflow: hidden; width: 100%; padding: 3.05vh 25px; white-space: nowrap; text-align: left; font-size: 94px; font-weight: normal; text-shadow: -0.5px 0 var(--color), 0 0.5px var(--color), 0.5px 0 var(--color), 0 -0.5px var(--color); color: var(--color); border-bottom: 2px solid var(--color); }

.work_box .work_list .list button::before { content: ""; position: absolute; left: 0; top: 0; width: var(--width); height: 100%; background: var(--color); }

.work_box .work_list .list button::after { content: attr(data-content); overflow: hidden; position: absolute; left: 25px; width: var(--width); white-space: nowrap; text-shadow: -0.5px 0 var(--background), 0 0.5px var(--background), 0.5px 0 var(--background), 0 -0.5px var(--background); color: var(--background); }

.work_box .work_list .detail { overflow: hidden; width: 100%; height: 0px; -webkit-transition: height 0.2s ease-in-out; transition: height 0.2s ease-in-out; border-bottom: 0px solid var(--color); }

.work_box .work_list .detail .swiper { width: 100%; height: auto; border-bottom: 2px solid var(--color); }

.work_box .work_list .detail .swiper img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: block; width: 100%; }

.work_box .work_list .detail .swiper .swiper-wrapper .swiper-slide { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.work_box .work_list .detail .swiper .swiper-button-next, .work_box .work_list .detail .swiper .swiper-button-prev { z-index: 1; width: 30px; height: 30px; margin-top: 0; cursor: none; }

.work_box .work_list .detail .swiper .swiper-button-next::after, .work_box .work_list .detail .swiper .swiper-button-prev::after { width: 100%; height: 100%; text-indent: -9999999px; font-family: initial; font-size: 0px; background-position: center; background-size: cover; background-repeat: no-repeat; }

.work_box .work_list .detail .swiper .swiper-button-next.swiper-button-next, .work_box .work_list .detail .swiper .swiper-button-prev.swiper-button-next { right: 30px; }

.work_box .work_list .detail .swiper .swiper-button-next.swiper-button-next::after, .work_box .work_list .detail .swiper .swiper-button-prev.swiper-button-next::after { background-image: url("../../images/btn/slide_next.png"); }

.work_box .work_list .detail .swiper .swiper-button-next.swiper-button-prev, .work_box .work_list .detail .swiper .swiper-button-prev.swiper-button-prev { left: 30px; }

.work_box .work_list .detail .swiper .swiper-button-next.swiper-button-prev::after, .work_box .work_list .detail .swiper .swiper-button-prev.swiper-button-prev::after { background-image: url("../../images/btn/slide_prev.png"); }

.work_box .work_list .detail .swiper .swiper-pagination { bottom: 24px; }

.work_box .work_list .detail .swiper .swiper-pagination .swiper-pagination-bullet { background: #fff; opacity: 0.6; }

.work_box .work_list .detail .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { opacity: 1; }

.work_box .work_list .detail .info_box { display: -webkit-box; display: -ms-flexbox; display: flex; }

.work_box .work_list .detail .info_box > div { -ms-flex-negative: 0; flex-shrink: 0; width: 50%; padding: 30px; }

.work_box .work_list .detail .info_box > div p, .work_box .work_list .detail .info_box > div a { font-weight: 500; }

.work_box .work_list .detail .info_box > div img { display: block; }

.work_box .work_list .detail .info_box .left { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-line-pack: justify; align-content: space-between; }

.work_box .work_list .detail .info_box .left .project_name { font-size: 51px; color: var(--color); }

.work_box .work_list .detail .info_box .left .project_name .year { display: block; }

.work_box .work_list .detail .info_box .left .link { font-size: 24px; color: var(--color); }

.work_box .work_list .detail .info_box .left .link::after { content: ""; display: block; width: 100%; height: 2px; margin-top: 1.5px; background: var(--color); }

.work_box .work_list .detail .info_box .right { border-left: 2px solid var(--color); }

.work_box .work_list .detail .info_box .right p { line-height: 1.3; font-size: 24px; color: var(--color); }

/**/
:root[color-theme="white"] { --background: #fff; --color: #0035dd; --select-ico: url("../../images/btn/select_box.png"); --check-off-ico: url("../../images/btn/chk_off.png"); --check-on-ico: url("../../images/btn/chk_on.png"); --radio-off-ico: url("../../images/btn/radio_off.png"); --radio-on-ico: url("../../images/btn/radio_on.png"); }

:root[color-theme="blue"] { --background: #0035dd; --color: #fff; --select-ico: url("../../images/btn/select_box_w.png"); --check-off-ico: url("../../images/btn/chk_off_w.png"); --check-on-ico: url("../../images/btn/chk_on_w.png"); --radio-off-ico: url("../../images/btn/radio_off_w.png"); --radio-on-ico: url("../../images/btn/radio_on_w.png"); }

/* extend */
/*common*/
.contact { overflow-y: scroll; width: 600px; height: 100%; }

.contact .title { padding: 40px 68px 20px 45px; border-bottom: 2px solid var(--color); }

.contact .title > p { margin-bottom: 20px; font-size: 46px; color: var(--color); }

.contact .title .info p { line-height: 1.3; font-weight: 700; color: var(--color); }

.contact form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: calc(100% - 216px); padding: 50px 68px 50px 45px; }

.contact form > div { -ms-flex-negative: 0; flex-shrink: 0; width: 100%; }

.contact form > div p { margin-bottom: 10px; color: var(--color); }

.contact form > div .input_box { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.contact form .contact_info .input_box input { width: 47.5%; line-height: 30px; margin-bottom: 10px; font-weight: 500; font-size: 14px; color: var(--color); border: none; border-bottom: 1px solid var(--color); background: transparent; }

.contact form .contact_info .input_box input::-webkit-input-placeholder { color: var(--color); }

.contact form .contact_info .input_box input:-ms-input-placeholder { color: var(--color); }

.contact form .contact_info .input_box input::-ms-input-placeholder { color: var(--color); }

.contact form .contact_info .input_box input::placeholder { color: var(--color); }

.contact form .contact_info .input_box input:first-child { margin-right: 52.5%; }

.contact form .contact_info .input_box input:last-child { width: 100%; margin-bottom: 0; }

.contact form .budgiet_info { margin-top: 40px; }

.contact form .budgiet_info .input_box .select_dropdown { position: relative; width: 47.5%; }

.contact form .budgiet_info .input_box .select_dropdown .dropdown_btn { width: 100%; line-height: 30px; text-align: left; color: var(--color); border: none; border-bottom: 1px solid var(--color); background: transparent var(--select-ico) no-repeat right 5px center; background-size: 10px; }

.contact form .budgiet_info .input_box .select_dropdown .dropdown_list { display: none; z-index: 1; overflow: hidden; position: absolute; left: 0; right: 0; width: 100%; height: 0; }

.contact form .budgiet_info .input_box .select_dropdown .dropdown_list .select_list { width: 100%; line-height: 30px; padding: 0 12px; font-size: 14px; background-color: var(--background); border-width: 0 1px 1px; border-style: solid; border-color: var(--color); color: var(--color); -webkit-transition: color 0.1s linear; transition: color 0.1s linear; }

.contact form .budgiet_info .input_box .select_dropdown .dropdown_list .select_list:hover { color: var(--background); background: var(--color); }

.contact form .project_info { margin-top: 40px; }

.contact form .project_info .input_box { margin-bottom: 15px; }

.contact form .project_info .input_box p { font-size: 14px; }

.contact form .project_info .input_box p span { display: inline-block; margin-left: 10px; font-size: 10px; color: var(--color); opacity: 0.6; }

.contact form .project_info .input_box .text_box { width: 100%; margin-bottom: 10px; }

.contact form .project_info .input_box .text_box textarea { width: 100%; height: 110px; padding: 5px 0; font-size: 14px; color: var(--color); border: none; border-bottom: 1px solid var(--color); background: transparent; }

.contact form .project_info .input_box .file_box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; line-height: 30px; border-bottom: 1px solid var(--color); }

.contact form .project_info .input_box .file_box p { margin-bottom: 0; }

.contact form .project_info .input_box .file_box .file_name { width: calc(100% - 270px); height: 100%; font-size: 14px; color: var(--color); border: none; background: transparent; }

.contact form .project_info .input_box .file_box label { font-weight: 500; color: var(--color); }

.contact form .project_info .input_box .file_box input[type="file"] { position: absolute; width: 0; height: 0; padding: 0; overflow: hidden; border: 0; }

.contact form .project_info .chk input[type="checkbox"] { display: none !important; }

.contact form .project_info .chk input[type="checkbox"] + label { display: block; padding-left: 18px; line-height: 18px; background: var(--check-off-ico) no-repeat; background-size: 12px; background-position: left center; font-size: 12px; color: var(--color); }

.contact form .project_info .chk input[type="checkbox"]:checked + label { background: var(--check-on-ico) no-repeat; background-size: 12px; background-position: left center; }

.contact form .submit_btn { -ms-flex-negative: 0; flex-shrink: 0; width: 100%; height: 80px; margin: 40px 0; font-size: 46px; color: var(--color); border: 2px solid var(--color); -webkit-transition: color 0.1s linear; transition: color 0.1s linear; }

.contact form .submit_btn:hover { color: var(--background); background: var(--color); }

body { -webkit-transition: background 0.1s linear; transition: background 0.1s linear; background-color: var(--background); }

#contents { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; height: 100vh; }

#contents .contact, #contents .marquee, #contents .work_box { -ms-flex-negative: 0; flex-shrink: 0; }

.cursor { z-index: 999; position: fixed; top: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 27px; height: 27px; pointer-events: none; border: 2px solid var(--color); border-radius: 50%; }

.cursor span { display: block; width: 19px; height: 19px; pointer-events: none; background: var(--color); border-radius: 50%; mix-blend-mode: difference; }

.cursor.reverse { border: 2px solid var(--background); }

.cursor.reverse span { background: var(--background); }

.marquee { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 90px; height: 100%; color: var(--color); border-left: 2px solid var(--color); border-right: 2px solid var(--color); }

.marquee p { -webkit-transform: rotate(270deg); transform: rotate(270deg); white-space: nowrap; font-size: 43px; }

.reverse_color { position: fixed; right: 40px; bottom: 40px; width: auto; height: auto; display: block; border: none; background: initial; -webkit-transition: -webkit-transform 0.15s; transition: -webkit-transform 0.15s; transition: transform 0.15s; transition: transform 0.15s, -webkit-transform 0.15s; }

.reverse_color:hover { -webkit-transform: scale(1.15); transform: scale(1.15); }

.reverse_color .circleLogo { display: block; fill: var(--color); }

.tooltip_box { z-index: 1; opacity: 0; position: fixed; display: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background: #000; }
