/**/
:root[color-theme="white"] { --background: #fff; --color: #0035dd; --select-ico: url("../../images/btn/select_box.png"); --check-off-ico: url("../../images/btn/chk_off.png"); --check-on-ico: url("../../images/btn/chk_on.png"); --radio-off-ico: url("../../images/btn/radio_off.png"); --radio-on-ico: url("../../images/btn/radio_on.png"); }

:root[color-theme="blue"] { --background: #0035dd; --color: #fff; --selectIco: url("../../images/btn/select_box_w.png"); --check-off-ico: url("../../images/btn/chk_off_w.png"); --check-on-ico: url("../../images/btn/chk_on_w.png"); --radio-off-ico: url("../../images/btn/radio_off_w.png"); --radio-on-ico: url("../../images/btn/radio_on_w.png"); }

/* extend */
/*common*/
.work_box { position: relative; width: calc(100% - 654px); height: 100%; }

.work_box .category { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; z-index: 2; position: absolute; top: 18px; right: 68px; }

.work_box .category .radio { margin-right: 90px; }

.work_box .category .radio:last-of-type { margin-right: 0; }

.work_box .category .radio input[type="radio"] { display: none !important; }

.work_box .category .radio input[type="radio"] + label { display: block; width: 100%; padding-bottom: 7px; padding-left: 45px; white-space: nowrap; font-weight: 700; font-size: 39px; color: var(--color); background: var(--radio-off-ico) no-repeat center left; background-size: 30px; }

.work_box .category .radio input[type="radio"]:checked + label { background: var(--radio-on-ico) no-repeat center left; background-size: 30px; }

.work_box .work_list { overflow-x: hidden; overflow-y: scroll; width: 100%; height: 100%; }

.work_box .work_list .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; position: relative; width: 100%; height: 160px; padding: 0 25px; border-bottom: 2px solid var(--color); background: var(--background); -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }

.work_box .work_list .list a { white-space: nowrap; font-size: 94px; font-weight: normal; text-shadow: -0.5px 0 var(--color), 0 0.5px var(--color), 0.5px 0 var(--color), 0 -0.5px var(--color); color: var(--color); }

.work_box .work_list .list:hover { background: var(--color); }

.work_box .work_list .list:hover a { color: var(--background); }

.work_box .work_list .list .video_tooltip { z-index: 1; opacity: 0; position: fixed; display: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.work_box .work_list .list.open { background: var(--color); }

.work_box .work_list .list.open a { color: var(--background); }

.work_box .work_list .detail { overflow: hidden; width: 100%; height: 0px; -webkit-transition: height 0.2s ease-in-out; transition: height 0.2s ease-in-out; }

.work_box .work_list .detail.open { border-bottom: 2px solid var(--color); }

.work_box .work_list .detail .carousel { width: 100%; height: auto; }

.work_box .work_list .detail .carousel img { width: 100%; }

.work_box .work_list .detail .info_text { padding: 30px; }

.work_box .work_list .detail .info_text p { line-height: 1.3; font-weight: 500; font-size: 39px; color: var(--color); }
